body
{
    background-color:#442228 ;
}
h1
{
    color:white;
    text-align:center
}
p
{
    font-family:arial; size:15px; text-align:center;
}
h2
{
    color:white; text-align:center;
}
h4
{
    color:white; text-align:center; size:12px;
}
h3
{
	background:#000000;
	text-align:center;
	size:240px;
  color: #8A84E2;
}

center {
   margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
